<header class="c-header c-header-light px-3">
  <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
    <i class="fas fa-bars navbar-toggler-icon"></i>
  </button>
  <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
    <i class="fas fa-bars navbar-toggler-icon"></i>
  </button>
</header>