<div id="sidebar" class="c-sidebar c-sidebar-fixed c-sidebar-dark c-sidebar-lg-show">
  <div class="c-sidebar-brand">
    <i class="fas fa-futbol fa-2x mr-2" style="color: #e94560"></i>
    Meli FC
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Menu</li>
    <li class="c-sidebar-nav-item">
      <%= link_to teams_path, class: "c-sidebar-nav-link" do %>
        <i class="c-sidebar-nav-icon fas fa-tshirt"></i> Teams
      <% end %>
    </li>
    <%- Team.all.each do |team|%>
      <li class="c-sidebar-nav-item">
        <%= link_to team_path(team), class: "c-sidebar-nav-link pl-5" do %>
          <%= team.name%>
        <%end%>
      </li>
    <%end%>
  </ul>
</div>