a.btn-bottom{
    position: absolute;
    bottom: 60px;
    right: 10px;
    font-size: 16px;
}

div.field {
    @extend .form-group !optional;

    input, select{
        @extend .form-control !optional;
    }
}

div.actions{
    input[type="submit"]{
        @extend .btn !optional;
        @extend .btn-info !optional;
        @extend .float-right !optional;
    }
}